<ol>
    {% for item in items %}
        <li>
            {{ item.title }} -
            {% if item.date %}
                {{ item.date|date('c') }}
            {% endif %}
        </li>
    {% endfor %}
</ol>