<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block meta %}{% endblock meta %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock stylesheets %}
    {% block javascripts %}{% endblock javascripts %}
    <link rel="icon" type="image/svg+xml" href="{{ asset('newsrss.svg') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock body %}

<script type="text/javascript">
    $(document).ready(function () {
        {% block document_ready %}{% endblock document_ready %}
    });
</script>
{% if app.environment == 'prod' %}
    {% block tracking %}{% endblock tracking %}
{% endif %}
</body>
</html>
