<div class="col-sm-4">
    {% image '@NewsrssBundle/Resources/public/images/newsrss-3d-miroir.png' output="images/logo.png" %}
    <img src="{{ asset_url }}" alt="NewsRSS"/>
    {% endimage %}
</div>
<div class="col-sm-offset-5 col-sm-3">
    <input type="text">
</div>