{% macro recursiveCategories(categories) %}
    {% import _self as arbo_self %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('newsrss_category_index', { 'id': category.id, 'path': category.path, '_format': 'html' }) }}">{{ category.name }}</a>
                {% if category.__children %}
                    {{ arbo_self.recursiveCategories(category.__children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% import _self as arbo_self %}
{{ arbo_self.recursiveCategories(categories) }}
