{% extends 'NewsrssBundle::layout.html.twig' %}

{% block container %}
    <a href="{{ path('newsrss_category_index', { 'id': category.id, 'path': category.path }) }}">{{ category.name }}</a>
    <br>
    <ul>
        {% for flux in fluxes %}
            <li>
                <a href="{{ path('newsrss_flux_index', { 'id': flux.id, 'slug': flux.slug }) }}">{{ flux.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
